<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>668115727322-k5ukspo2cnev2r0vdlhpnbi8s8rn17tu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.668115727322-k5ukspo2cnev2r0vdlhpnbi8s8rn17tu</string>
	<key>API_KEY</key>
	<string>AIzaSyDLg-9UI55GAUi2xEwRKAhyAA-gegSIEAs</string>
	<key>GCM_SENDER_ID</key>
	<string>668115727322</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.valentyna.LifeMomentsJournal</string>
	<key>PROJECT_ID</key>
	<string>life-moments-journal</string>
	<key>STORAGE_BUCKET</key>
	<string>life-moments-journal.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:668115727322:ios:36e6f849b9956eca2c46e3</string>
</dict>
</plist>